name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v6

      - name: Ruff check
        run: uv run --only-group lint ruff check --output-format=github

      - name: Ruff format
        run: uv run --only-group lint ruff format --check

  test:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v6
      - name: Run tests with coverage
        run: uv run --group test --extra sphinx -p ${{ matrix.python-version }} pytest
